:root {
  --heading: #111;
  --text: #525771;
  --text-light: #6e738e;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-heading: 'Spartan', var(--font-family);
  --white: #ffffff;
  --background: var(--white);
  --primary: #031782;
  --gray: #dedede;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--text);
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.45;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
  font-family: var(--font-heading);
  font-weight: 350;
  line-height: 1.2;
}

img {
  height: auto;
  width: 100%;
}
