.container {
  margin: 4rem auto;
  max-width: 54ch;
  width: 90vw;
}

.content h3 {
  font-size: 1.125rem;
  margin: 0 0 0.75rem;
}

.content p {
  margin: 0;
}

.skull {
  display: block;
  margin: 0 auto 1rem;
  max-width: 110px;
}

.label {
  color: var(--text-light);
  display: block;
  font-family: var(--font-heading);
  font-size: 0.875rem;
  margin-right: 0.75rem;
  margin-top: 1rem;
  width: 100%;
}

.input,
.button {
  border: 1px solid transparent;
  border-radius: 0.125rem;
  font-family: var(--font-heading);
  font-size: 1rem;
  padding: 0.5rem;
}

.input {
  border-color: var(--gray);
  color: var(--text);
  display: block;
  width: 100%;
}

.button {
  background: var(--primary);
  color: var(--white);
  font-weight: bold;
  margin-top: 1rem;
  min-width: 120px;
}

.logos {
  display: block;
  grid-column: 1 / 3;
  margin: 1rem auto 0;
  max-width: 365px;
}

@media (min-width: 500px) {
  .container {
    column-gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 110px;
    row-gap: 1rem;
  }

  .content {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .content h3 {
    font-size: 1.25rem;
  }

  .skull {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .form {
    align-items: flex-end;
    display: flex;
    grid-column: 1 / 3;
    justify-content: space-between;
  }

  .label,
  .button {
    margin-top: 0;
  }

  .logos {
    margin-top: 0.25rem;
  }
}
