.nate-intro {
  position: relative;
  display: block;
  min-height: 100vh;
  margin-top: 0;
  padding: 50vw calc( $width-unit * 5 ) 10vh;
  background-image: url(/app/themes/nge2016/dist/images/nate-green-xxs.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid $color-darkest;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 45vw;
    width: 100vw;
    background-image: linear-gradient(to top,
      color( $color-darkest alpha(50%) ) 75%,
      color( $color-darkest alpha(0%) ) 100%
    );
    z-index: 1;
  }

  @media $res-2x {
    background-image: url(/app/themes/nge2016/dist/images/nate-green-xxs@2x.jpg);
  }

  @media $viewport-xs {
    padding-top: 44vw;
    background-image: url(/app/themes/nge2016/dist/images/nate-green-xs.jpg);

    &::after {
      top: 40vw;
    }

    @media $res-2x {
      background-image: url(/app/themes/nge2016/dist/images/nate-green-xs@2x.jpg);
    }
  }

  @media $viewport-sm {
    padding-top: 37vw;
    background-image: url(/app/themes/nge2016/dist/images/nate-green-sm.jpg);

    &::after {
      top: 35vw;
    }

    @media $res-2x {
      background-image: url(/app/themes/nge2016/dist/images/nate-green-sm@2x.jpg);
    }
  }

  @media $viewport-md {
    padding-top: 20vw;
    padding-left: 275px;
    background-image: url(/app/themes/nge2016/dist/images/nate-green-md.jpg);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 75vw;
      background-image: linear-gradient(to right,
        color( $color-darkest alpha(45%) ) 80%,
        color( $color-darkest alpha(0%) ) 100%
      );
    }

    @media $res-2x {
      background-image: url(/app/themes/nge2016/dist/images/nate-green-md@2x.jpg);
    }
  }

  @media $viewport-lg {
    padding-top: 30vh;
    background-image: url(/app/themes/nge2016/dist/images/nate-green-lg.jpg);

    &::after {
      width: 60vw;
    }

    @media $res-2x {
      background-image: url(/app/themes/nge2016/dist/images/nate-green-lg@2x.jpg);
    }
  }

  @media $viewport-xl {
    padding-left: calc( $width-unit * 13 );
    background-image: url(/app/themes/nge2016/dist/images/nate-green-xl.jpg);

    &::after {
      width: 50vw;
    }

    @media $res-2x {
      background-image: url(/app/themes/nge2016/dist/images/nate-green-xl@2x.jpg);
    }
  }

  &__heading,&__text {
    position: relative;
    color: $color-lightest;
    font-family: $font-family-sans;
    text-shadow: 1px 1px 1px color( $color-darkest alpha(75%) );
    z-index: 2;

    @media $viewport-xs {
      max-width: 360px;
      margin-left: auto;
      margin-right: auto;
    }

    @media $viewport-sm {
      max-width: 55vw;
      margin-left: auto;
      margin-right: auto;
    }

    @media $viewport-md {
      max-width: 360px;
      margin-left: 0;
      margin-right: 0;
    }

    @media $viewport-xl {
      max-width: 30vw;
    }
  }

  &__heading {
    line-height: 1.25;
    font-size: 250%;
  }

  &__text {
    margin-top: 0;

    p:first-child {
      font-size: 112.5%;
    }

    strong {
      color: inherit;
    }
  }

  &__as-seen-in {
    max-width: 100%;
  }

  &__button {
    width: auto;
  }

  &__read-more {
    position: absolute;
    bottom: $height-unit;
    left: 50%;
    color: $color-lightest;
    font-family: $font-family-sans;
    font-size: 75%;
    font-weight: $font-weight-bold;
    letter-spacing: 0.1em;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px color( $color-darkest alpha(75%) );
    text-transform: uppercase;
    transform: translateX(-50%);
    white-space: pre;
    z-index: 2;

    &::after {
      content: '\2304';
      display: block;
    }
  }
}
